body, html{
    background: #ffddd2;
}

.drop-zone{
    max-width: 1200px;
    height: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;
    border: 1px dashed lightgray;
    border-radius: 3px;
    cursor: pointer;
}

.drop-zone--over{
    box-shadow: 0 0 20px rgb(100 100 100 / 30%);
}

.drop-zone__input{
    display: none;
}

.drop-zone__thumb{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    text-align: center;
}