.search{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3rem;
    background: #ffddd2;
}

.content {
    font-family: system-ui, serif;
    font-size: 2rem;
    border: 5px solid gray;
    border-radius: 1rem;
}

.form_container {
    margin-top: 20px;
    padding: 1rem;
}

#form-title{
    color: gray;
}
.login_btn {
    width: 50%;
    background: #74cfbf !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    /*background: #74cfbf !important;*/
    /*color: white !important;*/
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.content_base {
    border: 2px solid lightgray;
  border-radius: 0.5rem;
}