<link rel="stylesheet" href="/static/css/account.css">
{% extends 'templates/base.html' %}
{% block container %}
    <div class="uk-section">
        <div class="uk-container">
            <ul uk-tab>
                <li><a href="{% url 'account:profile' %}">프로필 설정</a></li>
                <li><a href="{% url 'account:my_list' %}">내 리뷰들</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <!-- 프로필 설정 -->
                <li>
                    <h1> 프로필 </h1>
                    <div class="uk-card uk-card-default uk-width-1-2@m">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{{ user.profile.image.url }}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.username }}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p> 캘린더 </p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">일정 등록</a>
                        </div>
                    </div>



                    <div class="profile_edit_container">
                        <div class="img_edit">

                        </div>
                        <div class="nickname_edit">

                        </div>
                        <div class="email_edit">

                        </div>
                        <div class="password_edit">

                        </div>
                        <div class="secession">
                            <div class="label_wrap">

                            </div>
                            <div class="optional">
                                <div class="notice">
                                    <p></p>
                                    {#                    <input type="password">#}
                                </div>
                                <div class="button_container">

                                </div>
                            </div> <!-- optional -->
                        </div> <!-- secession -->
                    </div> <!-- profile_edit -->
                </li> <!-- 프로필 설정 끝 -->

                <!-- 내 리뷰들 -->
                <li>
                    <h1>리뷰!</h1>

                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar" src="{{ user.profile.image.url }}" width="80" height="80" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                        <li><a href="#">12 days ago</a></li>
                                        <li><a href="#">Reply</a></li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </article>




                    <div class="review_container">
                        <div class="review_option">
                            {#            <select name="" id=""></select>#}
                            {#            <input type="text">#}
                        </div>
                        <div class="box">
                            <div class="detail">

                            </div>
                            <div class="list_control">
                                {#                <button class="edit_list_btn"></button>#}
                                {#                <button class="remove_list_btn"></button>#}
                            </div>
                        </div>
                    </div> <!-- review container -->
                </li> <!-- 내 리뷰들 끝-->
            </ul>
        </div> <!-- container -->
    </div> <!-- section -->
{% endblock container %}